<div class="col-md-5 col-md-offset-1">
  <section class="submit-form" style="overflow-y: auto">
    <h3>Ofertas de vuelos:</h3>

    <div class="card mb-3 mt-3" *ngFor="let flight of flightOffers">
      <div class="card-header">
        <b>Precio:</b> {{ flight.price.total }} ({{ flight.price.currency }})
      </div>
      <div class="card-body">
        Número de asientos disponibles: {{ flight.numberOfBookableSeats }}
        <br />
        Última fecha de emisión de boletos: {{ flight.lastTicketingDate }}
        <hr />
        <h5>Itinerarios</h5>
        Duración: {{ flight.itineraries[0].duration }}

        <p *ngFor="let i of flight.itineraries[0].segments">
          <strong>Salida:</strong> {{ i.departure.iataCode }}
          <strong>en</strong> {{ i.departure.at }}
          <em>(Terminal: {{ i.departure.terminal }})</em>
          &nbsp;
          <strong>Llegada:</strong> {{ i.arrival.iataCode }}
          <strong>en</strong> {{ i.arrival.at }}
          <em>(Terminal: {{ i.arrival.terminal }})</em>
          &nbsp;
          <strong>Número de paradas:</strong> {{ i.numberOfStops }}
        </p>

        <hr />

        <h5>Ingrese sus datos:</h5>

        <input
          type="text"
          name="first"
          placeholder="Su nombre"
          class="form-control" />
        <br />
        <input
          type="text"
          name="last"
          placeholder="Su apellido"
          class="form-control" />
      </div>
      <div class="card-footer">
        <button class="btn btn-warning">Reservar vuelo</button>
      </div>
    </div>
  </section>
</div>
